<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Guess The Number</title>
  </head>
  <body>
    <div class="container">
      <h1>🤖 The AI has picked a number...<br>Good luck cracking it ⚔️</h1>
    <div class="form-continer">
    <form action="/" method="post">
        <div class="form-group input-container">
          <input type="number" class="form-control" id="number_guess" placeholder="What's your guess?" name="number_guess" required/>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg button" id="number-submit">Guess</button>
    </form>

    <form action="/reset">
        <button 
            type="submit"
            class="btn btn-danger btn-lg button"
            pys-onclick="reset"
            id="restart-game"
        >Reset</button>
    </form>
  </div>
    {% for guess in guesses %}
    <div class=" {% if 'high' in guess %} alert alert-danger {% elif 'low' in guess %} alert alert-warning {% else %} alert alert-success{% endif %}" role="alert">
      {{guess}}
    </div>
    {% endfor %}
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>